In [5]:
import pandas as pd

In [1]:
import json

In [49]:
import datetime

In [47]:
events = json.load(open('tel.json', 'r'))
with open('telemetry.json') as f:
    for event in f.readlines():
        obj = json.loads(event)
        loc = obj['location']
        nobj = {'id': obj['id']}
        nobj |= loc
        events.append(nobj)

In [48]:
json.dump(events, open('tel.json', 'w'))

In [20]:
data = pd.read_json('tel.json')

In [21]:
data.head()

       id         cog        lat        lon   sog          ts
0   54009    0.000000  55.685206  37.655532  9.90  1692688307
1   54051    0.000000  55.742523  37.643495  8.63  1692688309
2  642524  288.600006  55.689042  37.699553  0.20  1692688322
3  642524  288.600006  55.689042  37.699553  0.20  1692688322
4   54033    0.000000  55.688908  37.699313  0.00  1692688324

In [24]:
data.agg(tsmin = ('ts', 'min'), tsmax = ('ts', 'max'))

               ts
tsmin  1691083244
tsmax  1692783597

In [25]:
1692783597 - 1691083244

1700353

In [30]:
schdata = json.load(open('schedule.json'))
sch = pd.json_normalize(schdata)

In [41]:
set(sch['timetable.startdate'])

{1691355600,
 1691442000,
 1691614800,
 1691701200,
 1691787600,
 1691874000,
 1692046800,
 1692133200,
 1692219600,
 1692306000,
 1692392400,
 1692478800,
 1692565200,
 1692651600,
 1692738000,
 1692824400,
 1696107600,
 1696194000}

In [42]:
len(set(sch['timetable.startdate']))

18

In [43]:
sdates = set(sch['timetable.startdate'])

In [46]:
for sdate in sdates:
    print(sdate)
    print(datetime.datetime.fromtimestamp(sdate).strftime('%d/%m/%Y'))

1691787600
12/08/2023
1691874000
13/08/2023
1692133200
16/08/2023
1691701200
11/08/2023
1692392400
19/08/2023
1692565200
21/08/2023
1692824400
24/08/2023
1692651600
22/08/2023
1692738000
23/08/2023
1691442000
08/08/2023
1692306000
18/08/2023
1692046800
15/08/2023
1691614800
10/08/2023
1692219600
17/08/2023
1696107600
01/10/2023
1692478800
20/08/2023
1691355600
07/08/2023
1696194000
02/10/2023

In [35]:
sch.agg(
    maxstart = ('timetable.starttime', 'max')
)

          timetable.starttime
maxstart                 1439

In [ ]:
schedule = json.load(open('./dataset/schedule.json', 'r'))
nschedule = json.load(open('./ndataset/schedule.json', 'r'))
for sched in nschedule:
    schedule.append(sched)
schedule = json.dump(open('./dataset/schedule.json'))